{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Peoples</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a1.jpg" alt="product image">
            </div>
            <div class="itemname">Saran V</div>
            <div class="itemprice">Company Head </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a2.jpg"  alt="product image">
            </div>
            <div class="itemname">chetan v</div>
            <div class="itemprice">Company account Executive Agency </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a3.jpg"  alt="product image">
            </div>
            <div class="itemname">Dinesh k</div>
            <div class="itemprice">Company Account Manager </div>
        </div>
        
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a4.jpg" alt="product image">
            </div>
            <div class="itemname">aari D</div>
            <div class="itemprice">Ajency Development Manager </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a5.jpg" alt="product image">
            </div>
            <div class="itemname">Harikrishnan V</div>
            <div class="itemprice">Bussiness Development Manager </div>
        </div>
  
      
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/a6.jpg" alt="product image">
            </div>
            <div class="itemname">suresh S </div>
            <div class="itemprice">Program Manager </div>
        </div>
    </div>
    </div>
{% endblock  %}