{% extends "companyapp/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpeg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpeg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c3.jpeg"  alt="product image">
            </div>
            <div class="itemname">WD Green 240 GB 2.5 inch SATA III Internal Solid State Drive</div>
            <div class="itemprice">Price: Rs.2300.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c4.jpeg"  alt="product image">
            </div>
            <div class="itemname">optical sensor</div>
            <div class="itemprice">Price: Rs.4150.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c5.jpeg"  alt="product image">
            </div>
            <div class="itemname">wifi device</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c6.jpeg"  alt="product image">
            </div>
            <div class="itemname">switch </div>
            <div class="itemprice">Price: Rs.50.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c7.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon battery </div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c8.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon processor</div>
            <div class="itemprice">Price: Rs.3500.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c9.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon watch</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c10.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon microchip</div>
            <div class="itemprice">Price: Rs.800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c11.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon spray</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c12.jpeg"  alt="product image">
            </div>
            <div class="itemname">Silicon liquid and powder</div>
            <div class="itemprice">Price: Rs.700.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}
